<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>Rotate</servlet-name>
        <servlet-class>com.matrix.servlets.RotateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rotate</servlet-name>
        <url-pattern>/rotate</url-pattern>
    </servlet-mapping>
</web-app>
