<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>PrimeServlet</servlet-name>
        <servlet-class>com.example.servlets.PrimeTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrimeServlet</servlet-name>
        <url-pattern>/is_prime</url-pattern>
    </servlet-mapping>
</web-app>
